/* General Styles for Contact Section */
.contact {
    padding: 6% 2%;
    background-color: #f4f4f9;
    text-align: center;
    height: 73.8vh;
   }
  
  .contact h2 {
    font-size: 2.5rem;
    color: #34495e;
    margin-bottom: 5px;
  }
  
  .contact p {
    font-size: 1.1rem;
    color: #7f8c8d;
    margin-bottom: 10px;
  }
  
  /* Links in Contact Section */
  .contact a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .contact a:hover {
    color: #2980b9;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    max-width: 600px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  }
  
  input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    color: #2c3e50;
    width: 100%;
    box-sizing: border-box;
  }
  
  input:focus, textarea:focus {
    border-color: #3498db;
    outline: none;
  }
  
  textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  /* Submit Button */
  button {
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
  
    form {
      padding: 7px;
    }
  
    .contact h2 {
      font-size: 2rem;
    }
  }
  